.jumbotron
  %h1 Welcome to our Medical Clinic
  %p All patients are treated with compassion and a non-judgmental attitude. As a Clinic, we are caring and act in ways that respect the dignity, uniqueness, and important worth of every person.
  %p
    %a.btn.btn-primary.btn-lg{href: static_pages_contact_path} Contact us