.row
  .col-md-10
    %h1= @patient.name + " " + @patient.surname
    %br
    %h4= "<b>Data urodzenia:</b> ".html_safe + @patient.date_of_birth.to_s + " (" + @patient.age_of_patient.to_s + " l.)"
  .col-md-2
    = image_tag(@patient.avatar_patient.url(:thumb), class: "img-thumbnail")
%br
%br
= link_to "<-- Back", patients_path, class: 'btn btn-default btn'
